{% extends 'side-bar-layout.html' %}

{% block title %} My Accounts {% endblock %}

{% block content %}
    <main class="my-5 py-xl-5">
        <div class="container-fluid">
            <section id="my-accounts">
                <div class="shadow py-2 bg-body rounded">
                    <!-- Account List -->
                    <div class="container overflow-auto" style="max-height: 100vh;">
                        <ul class="list-group list-group-light mt-2 p-2" id="accountsList">
                            <!-- List Header -->
                            <div class="p-2 bg-body rounded-top">
                                <h3 class="text-start d-inline-block">
                                    Accounts
                                    (
                                    <span class="fw-bold text-dark"
                                          id="noOfFriends">
                                            {{ accounts|length }}
                                        </span>
                                    )
                                </h3>
                            </div>
                            {% if accounts %}
                                <!-- Account Items -->
                                {% for account in accounts %}
                                    <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-start p-3 row"
                                       href="{% url 'my-accounts-details' pk=account.id %}">
                                        <div class="col">
                                            <div class="fw-bold">{{ account.iban }}</div>
                                            <div class="text-muted">{{ account.get_type_display }}</div>
                                        </div>
                                        <div class="col-auto">
                                            <span class="badge rounded-pill badge-light fs-5">
                                                {{ account.balance_currency }}
                                            </span>
                                        </div>
                                    </a>
                                {% endfor %}
                            {% else %}
                                <p class="text-center text-muted" id="no-data-text">
                                    No accounts were found.
                                </p>
                            {% endif %}

                        </ul>
                    </div>
                </div>
            </section>
        </div>
        <!-- More Options -->
    </main>
{% endblock %}

{% block JS %}
{% endblock %}