{% extends 'side-bar-layout.html' %}

{% block title %} Transfer {% endblock %}

{% block content %}
    <main>
        <section>
            <div class="py-2">
                <!-- Tabs navs -->
                <ul class="nav nav-tabs nav-fill mb-3" id="ex1" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a
                                class="nav-link active"
                                id="ex2-tab-1"
                                data-mdb-toggle="tab"
                                href="#own-accounts-tab"
                                role="tab"
                                aria-controls="ex2-tabs-1"
                                aria-selected="true"
                        >
                            Own Accounts
                        </a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a
                                class="nav-link"
                                id="ex2-tab-2"
                                data-mdb-toggle="tab"
                                href="#third-party-tab"
                                role="tab"
                                aria-controls="ex2-tabs-2"
                                aria-selected="false"
                        >
                            Third Party Accounts
                        </a>
                    </li>
                </ul>
                <!-- Tabs navs -->

                <!-- Tabs content -->
                <div class="tab-content" id="ex2-content">
                    <div
                            class="tab-pane fade show active"
                            id="own-accounts-tab"
                            role="tabpanel"
                            aria-labelledby="ex2-tab-1"
                    >
                        <!-- Card Form -->
                        <div
                                id="card"
                                class="card container p-3 mx-auto bg-body my-5 mx-auto"
                                style="max-width: max-content"
                        >
                            <div class="card-body">
                                <!-- Header -->
                                <h3>Transfer</h3>
                                <!-- Lead comment -->
                                <p>
                                    No charges for transfers.
                                </p>
                                <div class="card-text mt-5">
                                    <form class="mt-0" method="POST">
                                        {% csrf_token %}
                                        <!-- From Account Select -->
                                        <div class="mb-3">
                                            <label for="fromSelect" class="text-start ms-auto">From*</label>
                                            <select class="form-select"
                                                    id="fromSelect"
                                                    name="from"
                                                    aria-label="Select account From"
                                                    required
                                            >
                                                {% for account in accounts %}
                                                    <option value="{{ account.id }}" id="option-from-{{ account.id }}">
                                                        {{ account.iban }}
                                                        -
                                                        {{ account.balance_currency }}
                                                        &lt;{{ account.get_type_display }}&gt;
                                                    </option>
                                                {% endfor %}
                                            </select>
                                        </div>

                                        <!-- To Account Select -->
                                        <div class="mb-4">
                                            <label for="toSelect" class="text-start ms-auto">To*</label>
                                            <select class="form-select"
                                                    id="toSelect"
                                                    name="to"
                                                    aria-label="Select account To"
                                                    required
                                            >
                                                {% for account in accounts %}
                                                    <option value="{{ account.id }}" id="option-to-{{ account.id }}">
                                                        {{ account.iban }}
                                                        -
                                                        {{ account.balance_currency }}
                                                        &lt;{{ account.get_type_display }}&gt;
                                                    </option>
                                                {% endfor %}
                                            </select>
                                        </div>

                                        <!-- Amount Input -->
                                        <div class="form-outline mb-4">
                                            <input
                                                    type="number"
                                                    id="amountInput"
                                                    class="form-control {% if error %} is-invalid{% endif %} "
                                                    name="amount"
                                                    placeholder="$ XXXXX.XX"
                                                    min="0.0"
                                                    step="any"
                                                    max="{{ max_loan }}"
                                                    required
                                            />
                                            <label class="form-label" for="amountInput">Amount*</label>
                                            <div class="invalid-feedback">{{ error }}</div>
                                        </div>


                                        <!-- Submit In Button -->
                                        <div class="text-center w-auto">
                                            <button
                                                    type="submit"
                                                    class="btn btn-primary btn-lg w-100 mb-3 active"
                                            >
                                                <i class="fa-solid fa-arrow-right-arrow-left"></i>
                                                Transfer
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Third Party Transfers -->
                    <div
                            class="tab-pane fade"
                            id="third-party-tab"
                            role="tabpanel"
                            aria-labelledby="ex2-tab-2"
                    >
                        <!-- Card Form -->
                        <div
                                id="card"
                                class="card container p-3 mx-auto bg-body my-5 mx-auto"
                                style="max-width: max-content"
                        >
                            <div class="card-body">
                                <!-- Header -->
                                <h3>Transfers</h3>
                                <!-- Lead comment -->
                                <p>
                                    Charges may be applied according to your plan.
                                </p>
                                <div class="card-text mt-5">
                                    <form class="mt-0" method="POST">
                                        {% csrf_token %}
                                        <!-- From Account Select -->
                                        <div class="mb-3">
                                            <label for="fromSelect" class="text-start ms-auto">From*</label>
                                            <select class="form-select"
                                                    id="fromSelect"
                                                    name="from"
                                                    aria-label="Select account From"
                                                    required
                                            >
                                                {% for account in all_accounts %}
                                                    <option value="{{ account.id }}" id="option-from-{{ account.id }}">
                                                        {{ account.iban }}
                                                        -
                                                        {{ account.balance_currency }}
                                                        &lt;{{ account.get_type_display }}&gt;
                                                    </option>
                                                {% endfor %}
                                            </select>
                                        </div>

                                        <!-- To Account Input -->
                                        <div class="form-outline mb-4">
                                            <input
                                                    type="text"
                                                    id="toInput"
                                                    class="form-control {% if error %} is-invalid{% endif %} "
                                                    name="to"
                                                    placeholder="Alias"
                                                    required
                                            />
                                            <label class="form-label" for="toInput">Alias To*</label>
                                            <div class="invalid-feedback">{{ error }}</div>
                                        </div>

                                        <!-- Amount Input -->
                                        <div class="form-outline mb-4">
                                            <input
                                                    type="number"
                                                    id="amountInput2"
                                                    class="form-control {% if error %} is-invalid{% endif %} "
                                                    name="amount"
                                                    placeholder="$ XXXXX.XX"
                                                    min="0.0"
                                                    step="any"
                                                    max="{{ max_loan }}"
                                                    required
                                            />
                                            <label class="form-label" for="amountInput2">Amount*</label>
                                            <div class="invalid-feedback">{{ error }}</div>
                                        </div>

                                        <!-- Submit In Button -->
                                        <div class="text-center w-auto">
                                            <button
                                                    type="submit"
                                                    class="btn btn-primary btn-lg w-100 mb-3 active"
                                            >
                                                <i class="fa-solid fa-arrow-right-arrow-left"></i>
                                                Transfer
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Tabs content -->
            </div>

        </section>
    </main>
{% endblock %}

{% block JS %}
{% endblock %}