<section id="dollar-today">
    <div class="container-fluid text-center my-5">
        <h3 class="display-5">Dollar Today.</h3>
    </div>
    <!-- Group I -->
    <div class="card-group">
        <!-- Dollar Official -->
        <div class="card">
            <h5 class="card-title-dollar">
                <img src="{% static 'homebanking/icons/dolar.png' %}" id="icon-dolar"/>DOLAR OFICIAL
            </h5>
            <div class="card-body-dollar">
            <span class="navbar-text header-navigation me-3">
              COMPRA
              <b>$<span id="dolar-oficial-hoy-compra">0.00</span></b>
            </span>
                <span class="navbar-text header-navigation">
              VENTA <b>$<span id="dolar-oficial-hoy-venta">0.00</span></b>
            </span>
            </div>
        </div>
        <!-- Dollar Blue -->
        <div class="card">
            <h5 class="card-title-dollar">
                <img src="{% static 'homebanking/icons/dolarBlue.png' %}" id="icon-dolar"/>DOLAR BLUE
            </h5>
            <div class="card-body-dollar">
            <span class="navbar-text header-navigation me-3">
              COMPRA
              <b>$<span id="dolar-blue-hoy-compra">0.00</span></b>
            </span>
                <span class="navbar-text header-navigation">
              VENTA <b>$<span id="dolar-blue-hoy-venta">0.00</span></b>
            </span>
            </div>
        </div>

        <div class="card">
            <h5 class="card-title-dollar">
                <img src="{% static 'homebanking/icons/dolarCont.png' %}" id="icon-dolar"/>CONTADO
                CON LIQUI
            </h5>
            <div class="card-body-dollar">
            <span class="navbar-text header-navigation me-3">
              COMPRA
              <b>$<span id="dolar-ccl-hoy-compra">0.00</span></b>
            </span>
                <span class="navbar-text header-navigation">
              VENTA <b>$<span id="dolar-ccl-hoy-venta">0.00</span></b>
            </span>
            </div>
        </div>
    </div>

    <!-- Group II -->
    <div class="card-group">
        <!-- Dollar Soja -->
        <div class="card">
            <h5 class="card-title-dollar">
                <img src="{% static 'homebanking/icons/dolarProm.png' %}" id="icon-dolar"/>DOLAR SOJA
            </h5>
            <div class="card-body-dollar">
            <span class="navbar-text header-navigation me-3">
              COMPRA
              <b>$<span id="dolar-soja-hoy-compra">0.00</span></b>
            </span>
                <span class="navbar-text header-navigation">
              VENTA <b>$<span id="dolar-soja-hoy-venta">0.00</span></b>
            </span>
            </div>
        </div>

        <!-- Dollar MEP -->
        <div class="card">
            <h5 class="card-title-dollar">
                <img src="{% static 'homebanking/icons/dolarBolsa.png' %}" id="icon-dolar"/>DOLAR
                BOLSA
            </h5>
            <div class="card-body-dollar">
            <span class="navbar-text header-navigation me-3">
              COMPRA
              <b>$<span id="dolar-bolsa-hoy-compra">0.00</span></b>
            </span>
                <span class="navbar-text header-navigation">
              VENTA <b>$<span id="dolar-bolsa-hoy-venta">0.00</span></b>
            </span>
            </div>
        </div>

        <!-- Dollar Tourist-->
        <div class="card">
            <h5 class="card-title-dollar">
                <img src="{% static 'homebanking/icons/dolarTurista.png' %}" id="icon-dolar"/>DOLAR
                TURISTA
            </h5>
            <div class="card-body-dollar">
            <span class="navbar-text header-navigation me-3">
              COMPRA
              <b>$<span id="dolar-turista-hoy-compra">0.00</span></b>
            </span>
                <span class="navbar-text header-navigation">
              VENTA <b>$<span id="dolar-turista-hoy-venta">0.00</span></b>
            </span>
            </div>
        </div>
    </div>
</section>