<!--Footer-->
<footer class="text-center text-lg-start text-muted bg-blue mt-auto">
    <section
            class="d-flex justify-content-center justify-content-lg-between p-4"
    >
        <div id="textFooter" class="me-5 d-none d-lg-block">
            <p>
                ITBANK and ITBANK Online Banking service are not official products
                and should not be treated as such.
                <br/>
                ITBANK is a fictitious entity created solely for educational
                purposes as part of the full stack developer program of the
                Technological Institute of Buenos Aires as taught in 2022.
            </p>
        </div>
        <!-- Social Networks -->

        <div id="redes">
            <a href="" class="me-4 text-reset">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-linkedin"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-github"></i>
            </a>
        </div>
        <!-- Social Networks -->
    </section>
    <div class="container d-lg-none py-2">
        <small class="d-block">
            ITBANK is a fictitious entity created solely for educational purposes
            as part of the full stack developer program of the Technological
            Institute of Buenos Aires as taught in 2022.
        </small>
    </div>
</footer>
<!--Footer-->